<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Consumindo API</title>
</head>
<body>
  <h1>Dados da API:</h1>
  <div id="resultado">

</div>
  <script>
    setInterval(() => {
    fetch("http://localhost:5000/api/data", {method: "GET"})
      .then(res => res.json())
      .then(json => {
        
	json.forEach((row, index) => {

   let id = "cow-" + index; 
  let p = document.getElementById(id);

 if (p) 
  p.innerText = row.cod_cow + " " + row.temperature + " " + row.accelerometer;
    
  else {
       p = document.createElement("p");
       p.id = id;
       p.innerText = row.cod_cow + " " + row.temperature + " " + row.accelerometer;
       document.getElementById("resultado").appendChild(p);
       }

	})
      })
      .catch(err => {
        document.getElementById("resultado").innerText = "Erro ao buscar dados";
        console.error(err);
      });

    },3000)
  

  </script>
</body>
</html>
